#use this file as a template for .env file

DB_HOST = 127.0.0.1
DB_NAME = aultrapaints
DB_USER = aultrapaintsUser
DB_PASS = aultra@5656$
DB_PORT = 27017
DB_URL  = ?retryWrites=true&w=majority
APP_RUNNING_PORT = 4300
NODE_ENV = DEV
jwt_secret = yourSuperSecretKeyHere12345
secretKey =  mllf3xpex2kPk

AWS_SECRET_KEY = 12325
AWS_ACCESS_KEY =12324234
AWS_REGION = ap-south-1
